@font-face {
    font-family: Gilroy-Medium;
    src: url(fonts/Gilroy-Medium.woff);
}
@font-face{
    font-family: FuturaT;
    src: url(fonts/FuturaTOT-Book.otf);
}
*{
    font-family:Gilroy-Medium;;
}
.page-title{
    font-size: 39px;
    font-weight: 400;
    color: #96C6FF;
    font-family: FuturaT;
}
.navbar-txt{
    
    font-size: 20px;
    font-weight: 400;
    color:rgb(83, 83, 83);
}

.navbar-txt:visited{
    color: blue;
    text-decoration: underline;
}
.login-btn{
    border-radius: 120px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);


}
.menu-btn{
    /* width: 120px; */
}